:root {
    --charRarity5: rgba(200, 124, 36, 0.68);
    --charRarity4: rgba(148, 112, 187, 0.68);
    --itemRarity5: #C87C24;
    --itemRarity4: #9470BB;
    --itemRarity3: #5987AD;
    --itemRarity2: #5A977A;
    --itemRarity1: #818486;
    --elemPyro: #FF9999;
    --elemHydro: #80C0FF;
    --elemAnemo: #80FFD7;
    --elemElectro: #FFACFF;
    --elemDendro: #99FF88;
    --elemCryo: #99FFFF;
    --elemGeo: #FFE699;
    --charCons6: #ff5722;
    --charCons5: #531ba9cf;
    --charCons4: #3955b7;
    --charCons3: #3e95b9;
    --charCons2: #339d61;
    --charCons1: #5cbac2;
    --weaponAffix5: #DEAF39;
    --weaponAffix4: #C539DE;
    --weaponAffix3: #396CDE;
    --weaponAffix2: #51B72F;
    --weaponAffix1: #A3A3A3;
    --artiMark4: #FF5722;
    --artiMark3: #FFE699;
    --artiMark2: #D699FF;
    --artiMark1: #FFFFFF;
    --ambrLight: rgb(233, 229, 220);
    --ambrDeep: rgb(74, 83, 102);
    --artiBg: rgba(46, 53, 62, .68);
    --tableBg: #2e353e;
}

@font-face {
    font-family: "PanelFont";
    src: url(../fonts/HYWH-65W.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "PanelNumFont";
    src: url(../fonts/tttgbnumber.ttf);
    font-weight: 400;
    font-style: normal
}

body {
    overflow: overlay;
    margin: 0px;
}

#container {
    width: 960px;
    height: auto;
    min-height: 720px;
    font-family: "PanelFont";
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: auto 100%;
}

div.TopLeftPanel {
    position: relative;
    top: 20px;
    left: 20px;
    width: 325px;
    height: 543px;
}

div.TopLeftPanel > div.UID {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: 700;
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-shadow: 0 0 3px #d3bc8e, 2px 2px 4px rgb(0 0 0 / 70%);
    color: rgba(235, 205, 124, 0.82);
    background-color: rgba(255, 255, 255, 0.3);
}

div.TopLeftPanel > div.UID::before {
    content: "#队伍伤害 UID";
}

div.TopLeftPanel > div.rank {
    color: #ffffff;
    text-shadow: -2px 9px 14px rgb(0 0 0 / 68%);
    border-radius: 15px;
    position: relative;
    top: 37px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2532004d;
}

div.TopLeftPanel > div.rank > div {
    width: 60%;
    height: 91px;
    font-family: "PanelNumFont";
    font-size: 50px;
    font-weight: 700;
    color: #03f7eceb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.TopLeftPanel > div.rank > div:nth-child(odd) {
    width: 40%;
}

div.TopLeftPanel > div.rank > div::after {
    content: "伤害评级";
    font-family: "PanelFont";
    font-size: 30px;
    font-weight: bold;
}

div.TopLeftPanel > div.rank > div.dps::after {
    content: "DPS";
    font-style: italic;
}

div.TopLeftPanel > div.rank > div.time::after {
    content: "输出轴长";
}

div.TopLeftPanel > div.rank > div.total::after {
    content: "输出总伤";
}

div.TopLeftPanel > div#pie {
    background-color: rgb(62 46 46 / 68%);
    border-radius: 20px;
    position: relative;
    top: 51px;
    left: 22px;
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.TopLeftPanel > div#pie::after {
    position: absolute;
    bottom: 10px;
    content: "输出比例";
    font-size: 20px;
    color: var(--ambrLight);
}

div.Avatars {
    position: absolute;
    top: 20px;
    left: 365px;
    /* position: relative;
    top: -523px;
    left: 365px; */
    width: 575px;
    height: auto;
    min-height: 264px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

div.Avatars > div.avatar {
    color: #ffffff;
    background-color: var(--artiBg);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 264px;
    border-radius: 15px;
    border: none;
}

div.Avatars > div.avatar > img.char {
    width: 64px;
    height: 64px;
    border-top-left-radius: 15px;
    border-bottom: 4px;
    position: relative;
    left: -108px;
    top: 0px;
}

div.Avatars > div.avatar > div.char-con {
    height: 32px;
    min-height: 32px;
    width: 44px;
    background: var(--ambrDeep);
    color: var(--ambrLight);
    text-shadow: 0 0 3px var(--ambrDeep);
    font-size: 22px;
    position: relative;
    top: -64px;
    left: -54px;
}

div.Avatars > div.avatar > div.char-con::after {
    content: "0";
}

div.Avatars > div.avatar > div.char-con.c1 {
    background: var(--charCons1);
}

div.Avatars > div.avatar > div.char-con.c1::after {
    content: "1";
}

div.Avatars > div.avatar > div.char-con.c2 {
    background: var(--charCons2);
}

div.Avatars > div.avatar > div.char-con.c2::after {
    content: "2";
}

div.Avatars > div.avatar > div.char-con.c3 {
    background: var(--charCons3);
}

div.Avatars > div.avatar > div.char-con.c3::after {
    content: "3";
}

div.Avatars > div.avatar > div.char-con.c4 {
    background: var(--charCons4);
}

div.Avatars > div.avatar > div.char-con.c4::after {
    content: "4";
}

div.Avatars > div.avatar > div.char-con.c5 {
    background: var(--charCons5);
}

div.Avatars > div.avatar > div.char-con.c5::after {
    content: "5";
}

div.Avatars > div.avatar > div.char-con.c6 {
    background: var(--charCons6);
}

div.Avatars > div.avatar > div.char-con.c6::after {
    content: "6";
}

div.Avatars > div.avatar > div.char-lvl {
    height: 32px;
    min-height: 32px;
    width: 44px;
    background: var(--ambrDeep);
    color: var(--ambrLight);
    font-size: 22px;
    position: relative;
    top: -64px;
    left: -54px;
}

div.Avatars > div.avatar > img.weapon {
    width: 64px;
    height: 64px;
    position: relative;
    top: -128px;
    left: 0;
}

div.Avatars > div.avatar > div.weapon-aff {
    height: 32px;
    min-height: 32px;
    width: 44px;
    background: var(--ambrDeep);
    color: var(--ambrLight);
    text-shadow: 0 0 3px var(--ambrDeep);
    font-size: 22px;
    position: relative;
    top: -192px;
    left: 54px;
}

div.Avatars > div.avatar > div.weapon-aff::after {
    content: "1";
}

div.Avatars > div.avatar > div.weapon-aff.a2 {
    background: var(--weaponAffix2);
}

div.Avatars > div.avatar > div.weapon-aff.a2::after {
    content: "2";
}

div.Avatars > div.avatar > div.weapon-aff.a3 {
    background: var(--weaponAffix3);
}

div.Avatars > div.avatar > div.weapon-aff.a3::after {
    content: "3";
}

div.Avatars > div.avatar > div.weapon-aff.a4 {
    background: var(--weaponAffix4);
}

div.Avatars > div.avatar > div.weapon-aff.a4::after {
    content: "4";
}

div.Avatars > div.avatar > div.weapon-aff.a5 {
    background: var(--weaponAffix5);
}

div.Avatars > div.avatar > div.weapon-aff.a5::after {
    content: "5";
}

div.Avatars > div.avatar > div.weapon-lvl {
    height: 32px;
    min-height: 32px;
    width: 44px;
    background: var(--ambrDeep);
    color: var(--ambrLight);
    font-size: 22px;
    position: relative;
    top: -192px;
    left: 54px;
}

div.Avatars > div.avatar > div.weapon-aff,
div.Avatars > div.avatar > div.weapon-lvl,
div.Avatars > div.avatar > div.char-con,
div.Avatars > div.avatar > div.char-lvl {
    font-family: "PanelNumFont";
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.Avatars > div.avatar > div.char-lvl::before,
div.Avatars > div.avatar > div.weapon-lvl::before {
    content: "Lv";
}

div.Avatars > div.avatar > div.char-con::before {
    content: "C";
}

div.Avatars > div.avatar > div.weapon-aff::before {
    content: "R";
}

div.Avatars > div.avatar > div.arti {
    width: 64px;
    height: 64px;
    min-height: 64px;
    background: var(--itemRarity5);
    /* rgb(189, 165, 117) */
    border-top-right-radius: 15px;
    position: relative;
    top: -256px;
    left: 108px;
}

div.Avatars > div.avatar > div.arti:not(:has(img)) {
    background: url('data:image/webp;base64,UklGRpoFAABXRUJQVlA4TI0FAAAvHcAJEA0ojCQZqhk/K/+ACSKi/xMAq0x5TQEKUCXFpOo6xoaccQcshJUCYP9Ur3wLMFDQto3k+48/5a0clLaNJAcNFy68/yb6PwHwER3ViXQYRQNoRIpQtxAlsAGgbWt7Iil7Y2XtzkyPD+7u7nDMMdynu/4uuEPTSOtYeRK8a+4AYttGghxqLv03HPxaYttIkiQxMnv9N/feypAr27ZpW23vfXBt27Zt3xve8PEnbdsKbdvvnQkAAfDLle+rPbIu0LjOscbvPQISd9evPX5PTu1Z9qapxLexxAyXrRPqIl0conmSwnpp0WQnlP0UrParLa3YiAUfqTE1BWte26prQTLT3zd1RhdKUEqDRDCqokJ1a8Jk+LfJDUw9Wf7GgoDDFa/O38ZcFCQS2fQJ/7FBeWl7PR8DZazoi/mL7nw09Se/jbYQJnD8Ev94avj0bnxap1+L8A/9Ea/SqD9FU0y0CTbSeJr4QH+QvT7zU9TXSLeeSA4WfEgohJCI+LeZhip9d8keIOa/8RpbOy05ojg8yIUFG4APCQaBHFGOZJ5EnSaD9F9BAkeizAQkoQshTPhYUAqGMmFDRjACpVAmXqJ2kimHzJ9JTfpfIvaX0FQ9AZEzLCEfLc87AUygVIVHBGLEBmswHGa0QtVPkET/vY8Q+oJ5KDIN2vCFDb7VavlRfuE8MPQFe2ChDL5nucY2MZai5EcjtDbdTyFES3lsh0EJNqIXc9/SDt9DDrthqHjIEUcYKUeKzdSvZuRHE1RpsMD38QshADR4ozP6VXnB0Aq2KCIT/JaOGFz4VlaMU1Gm6jvxySou8YKwhy5coQ3tQxtzrc8Qqxp043MEqK3y90Cp9x8HKQgohsgtUgQAgJrf3sLT9BjUIC0GJYDYaBgRhsOBEnM+zY2WcJWCBim0EnCcj/rzohwHAKB/84pJLEU8CnqYEAZrLYhHeDBGkBfEICCiK/7H4wHHhgUNCLuSO+fnHogAKglzKbQ32cYGBf/RWLSMO+OO+Hc0j0qIC+Vg8Cvryo9n+K/4D28wUxSRVdZ4xe817Yxj0rbPysRSbS8x+Sou2mLBmG18bjRiHobQR/ROXHAHER5zqikaRb/SF7LIDGfkIcRuRifLnD6pCmUlcuqTRSUKi6EiNoqjVNgICz8giKIKKtjRqopRjOxkCydmHz4yMctfsqZKfPydg86kjTO2i5FxSRSFCSEqUYtMJVcdBI698oV2cpherEc9LLjD8vRCPeZx59x/yJkhnsjdX2DYNu3JmlOECCCGKMIiu6fqCVZdJVU4Ulgeq1UZFAiJSMlRwBM+X83B/93PtwoAgB19WwEcT7hQWChk2MrcySvE+5WhptWqyAeUBgAIqADu8uJ39gHfj/bT0dSvxqCQIPALQ9h7AvUO/8AdGtgjQQAAACuMsXbKS3QBPzT6Mv9zDzoFCuJweIIoC1x1dv5uzYNCQIM4AAD4IiVWTUPJ1P8IeMWFBzy0VxZCRQUZ0jHUrPF/CAAmKAACoiDEqKW4Qjnw0ze7Z/e40QDFAhxoRApoG59B4Bu8wRoQALFM8TapVLL4Jv1nAJfMZTK42XUvp6igQSSAcLiwbhmNLLINMvRKCPekHsnb1793RxMAv8qJTVI/Tcc4dSXJ5YSfWoFRWdXRBwRFoHr8+qwPWXlkdBEw6LjUbzPrJS1pD42akTYeGK5w1Ef99ECvOfzYTTCLgYC9dnuNduWqjFrAHN6Co6j+yB259wx4sAIGH2+nV6VztMjBg0IVHI9KqqUPgEQhQbrE3sOEA44UXoq/9RSVx8kAaJK350xX/lHYeMe/Pzgv954BST+Yc/e4QgK4Llf6uwdA8vW26ZzskKh3FcAiDpuqXayyWJKqxRg1+RPMAiPJX4xNJo8wpbHR/7wBAAA=') center center no-repeat;
    background-size: 45% 60%;
    background-color: #818486;
}

div.Avatars > div.avatar > div.arti:has(img.s4)::after {
    content: "4";
    font-family: "PanelNumFont";
    position: relative;
    top: -28px;
    left: 47px;
    text-shadow: 0 0 3px var(--ambrLight);
}

div.Avatars > div.avatar > div.arti > img.s2 {
    width: 64px;
    height: 64px;
    position: absolute;
    transform: scale(.7);
    transform-origin: left top;
}

div.Avatars > div.avatar > div.arti > img.s2:first-child:last-child {
    transform: unset;
}

div.Avatars > div.avatar > div.arti > img.s2:last-child {
    transform-origin: right bottom;
}

div.Avatars > div.avatar > img.r5 {
    background-color: var(--itemRarity5);
}

/* div.Avatars>div.avatar>img.icon.r5 {
    background-color: var(--charRarity5);
} */
div.Avatars > div.avatar > img.r4 {
    background-color: var(--itemRarity4);
}

/* div.Avatars>div.avatar>img.icon.r4 {
    background-color: var(--charRarity4);
} */
div.Avatars > div.avatar > img.r3 {
    background-color: var(--itemRarity3);
}

div.Avatars > div.avatar > img.r2 {
    background-color: var(--itemRarity2);
}

div.Avatars > div.avatar > img.r1 {
    background-color: var(--itemRarity1);
}

div.Avatars > div.avatar > div.detail {
    width: 250px;
    min-height: 200px;
    font-size: 20px;
    /* background: aliceblue; */
    position: relative;
    top: -256px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
}

div.Avatars > div.avatar > div.detail > div.cp,
div.Avatars > div.avatar > div.detail > div.cd,
div.Avatars > div.avatar > div.detail > div.prop,
div.Avatars > div.avatar > div.detail > div.recharge,
div.Avatars > div.avatar > div.detail > div.same,
div.Avatars > div.avatar > div.detail > div.diff {
    width: 33.33%;
    height: 50px;
    font-family: "PanelNumFont";
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #3d9f706b;*/
    border-radius: 25px;
    align-items: center;
    backdrop-filter: blur(5px);
}

div.Avatars > div.avatar > div.detail > div.cp::after,
div.Avatars > div.avatar > div.detail > div.cd::after,
div.Avatars > div.avatar > div.detail > div.prop > div.name,
div.Avatars > div.avatar > div.detail > div.recharge::after,
div.Avatars > div.avatar > div.detail > div.same::after,
div.Avatars > div.avatar > div.detail > div.diff::after {
    font-family: "PanelFont";
    font-size: 15px;
    color: var(--ambrLight);
}

div.Avatars > div.avatar > div.detail > div.cp::after {
    content: "暴击";
}

div.Avatars > div.avatar > div.detail > div.cd::after {
    content: "暴伤";
}

div.Avatars > div.avatar > div.detail > div.recharge::after {
    content: "循环";
}

div.Avatars > div.avatar > div.detail > div.same::after {
    content: "同色球";
}

div.Avatars > div.avatar > div.detail > div.diff::after {
    content: "异色球";
}

div.Avatars > div.avatar > div.detail > div.talent {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.Avatars > div.avatar > div.detail > div.talent > div {
    background-position: 50% 50%;
    background-size: cover;
    width: 61px;
    height: 66px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

div.Avatars > div.avatar > div.detail > div.talent > div > img {
    width: 32px;
    height: 32px;
    position: relative;
    top: 1px;
    left: 15px;
}

div.Avatars > div.avatar > div.detail > div.talent > div > span {
    margin-left: 25px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    color: #333333;
    background: #ffffff;
    border-radius: 5px;
    font-family: "PanelNumFont";
    display: flex;
    align-items: center;
    justify-content: center;
}

div.Avatars > div.avatar > div.detail > div.talent > div > span.extra {
    color: #000000;
    background-color: #45deff;
}

div.Actions,
ul.Damages,
ul.Buffs {
    height: auto;
    min-height: 90px;
    width: 920px;
    border-radius: 15px;
    color: #ffffff;
    background-color: #332e3ed6;;
    box-shadow: 0px 15px 15px rgb(0 0 0 / 40%);
    position: relative;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: 20px;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

div.Actions > div.title,
ul.Damages > li.title,
ul.Buffs > li.title {
    height: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

div.Actions > div.title::after,
ul.Damages > li.title::after,
ul.Buffs > li.title::after {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.68;
    color: var(--ambrLight);
    padding-left: 20px;
}

div.Actions > div.title::before {
    content: "操作手法";
}

div.Actions > div.title::after {
    content: "默认手法可能并非最优，如需自定义操作手法请使用微信小程序";
}

div.Actions > div.act {
    max-width: 98%;
    padding: 0 1% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

div.Actions > div.act > div {
    min-width: 30px;
    height: 30px;
    margin: 0.4em;
    padding: 0 0.3em;
    color: var(--ambrDeep);
    background-color: rgb(164 241 137);
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

ul.Damages > li,
ul.Buffs > li {
    color: rgb(214 113 211);
    height: auto;
    min-height: 40px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 2px solid rgba(255 255 255 / 20%);
}

ul.Damages > li:last-child,
ul.Buffs > li:last-child {
    border-bottom: none;
}

ul.Damages > li > div,
ul.Buffs > li > div {
    height: auto;
    min-height: 25px;
    padding: 0.4em;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

ul.Damages > li:nth-child(2),
ul.Damages > li > div:nth-child(1),
ul.Damages > li > div:nth-child(2),
ul.Buffs > li > div:nth-child(1),
ul.Buffs > li > div:nth-child(2) {
    color: #ffffff;
}

ul.Damages > li.title::before {
    content: "伤害过程";
}

ul.Damages > li.title::after {
    content: "伤害以 90 级怪物为基准，最终输出总伤和 DPS 为 1.25 倍期望伤害（实战对群）";
}

ul.Damages > li > div:not(:last-child),
ul.Buffs > li > div:not(:last-child) {
    border-right: 2px solid rgba(255 255 255 / 20%);
}

ul.Damages > li:not(.title) > div:first-child,
ul.Buffs > li:not(.title) > div:first-child {
    max-width: 6%;
    justify-content: flex-end;
}

ul.Damages > li.head > div:first-child::after {
    content: "时间";
}

ul.Damages > li:not(.title):not(.head) > div:first-child::after,
ul.Buffs > li:not(.title) > div:first-child::after {
    content: "s";
}

ul.Damages > li:not(.title) > div:nth-child(2),
ul.Buffs > li:not(.title) > div:nth-child(2) {
    width: auto;
    min-width: 35%;
    max-width: 40%;
    justify-content: flex-end;
    text-align: right;
    justify-content: flex-end;
    padding-right: 20px;
}

ul.Damages > li.head > div:nth-child(2)::after {
    content: "动作";
}

ul.Damages > li.head > div:nth-child(3)::after {
    content: "暴击伤害";
}

ul.Damages > li.head > div:nth-child(4)::after {
    content: "未暴击伤害";
}

ul.Damages > li.head > div:nth-child(5)::after {
    content: "期望伤害";
}

ul.Buffs > li.title::before {
    content: "Buff 情况";
}

ul.Buffs > li.title::after {
    content: "部分 Buff 描述可能异常但通常影响较小，若伤害偏差超过 10% 可认为计算错误";
}

ul.Buffs > li:not(.title) > div:nth-child(2) {
    min-width: 25%;
    max-width: 30%;
}

div.copyright {
    color: #c4d5cc;
    opacity: 0.95;
    text-shadow: 3px 5px 4px #333333ad;
    font-size: 25px;
    width: 960px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: bold;
}
